<div class="container" >
  <div class="row">
    <div class="col-md-8">
      <app-grid-jogging [joggingData]="joggingData" (editClicked)="editClicked($event)" (newClicked)="newClicked($event)" (recordDeleted)="deleteClicked($event)" [addNew]="addNew"></app-grid-jogging>
  </div>
    <div class="col-md-8" *ngIf="addNew">
        <app-add-or-update-jogging (joggingCreated)="createOrUpdateJogging($event)" [joggingInfo]="currentJogging" (onCloseClicked)="closeClicked($event)"></app-add-or-update-jogging>
    </div>
  </div>
</div>
